* {
  font-family: 微軟正黑體;
}
/* gitbook宣傳導航 */
.gitbook-link {
  display: none !important;
}
/* markdown標題 */
.md-title {
  text-decoration: none !important;
}
/* 目錄 */
h1#top + ul {
  padding: 0;
}
h1#top + ul li {
  list-style-type: none;
}
/* 滾軸 */
.md-scroll::-webkit-scrollbar-track,
.book.with-summary .book-summary::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.md-scroll::-webkit-scrollbar-track,
.book.with-summary .book-summary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ececec;
}
.md-scroll::-webkit-scrollbar-track,
.book.with-summary .book-summary::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
.book .book-summary {
  background: transparent;
}
