* {
  font-family: 微软正黑体, 微软雅黑;
}
/* gitbook宣傳導航 */
.gitbook-link {
  display: none !important;
}
/* markdown標題 */
.md-title {
  text-decoration: none !important;
}
/* 目錄 */
h1#top + ul {
  padding: 0;
}
h1#top + ul li {
  list-style-type: none;
}
/* 滾軸 */
.md-scroll::-webkit-scrollbar-track,
.book.with-summary .book-summary::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
.md-scroll::-webkit-scrollbar-track,
.book.with-summary .book-summary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ececec;
}
.md-scroll::-webkit-scrollbar-track,
.book.with-summary .book-summary::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
.book .book-summary {
  background: transparent;
}
/* 筆記用色彩 */
.highlight-style {
  padding: 0.2em;
  margin: 0;
  font-size: 0.85em;
}
.highlight-style:after,
.highlight-style:before {
  letter-spacing: -0.2em;
  content: '\00a0';
}
.highlight-theme,
.highlight-theme * {
  background: #4183c4;
  color: white !important;
}
.highlight-yellow {
  background: #f5f758;
}
.highlight-style.color-red {
  color: red;
}
.markdown-section em {
  border-radius: 2px;
  background: #f8fa45;
  color: black;
  font-size: 12.8px;
  font-size: 0.8rem;
  font-style: initial;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: pre-wrap;
}
.markdown-section code {
  background: #f8fa45;
  color: black;
}
.mume pre code {
  background-color: #f8f8f8;
  color: #525252;
}
